langchain
langgraph
transformers
sentence-transformers
python-dotenv
pandas
plotly
nbformat
langchain-community
beautifulsoup4
langchain-chroma>=0.1.2
ipywidgets
firecrawl-py
arxiv
pymupdf
langchain-pymupdf4llm
tqdm
langchain-huggingface
fastapi
uvicorn
transformers
pydantic
tiktoken
seaborn
rank_bm25
pylate
ipywidgets
ipykernel
